<h1>Listing Donators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pledge</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Message</th>
      <th>Anonymous</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donators.each do |donator| %>
      <tr>
        <td><%= donator.name %></td>
        <td><%= donator.pledge %></td>
        <td><%= donator.email %></td>
        <td><%= donator.phone %></td>
        <td><%= donator.message %></td>
        <td><%= donator.anonymous %></td>
        <td><%= link_to 'Show', admin_donator_path(donator) %> </td>
        <td> | <%= link_to 'Edit', edit_admin_donator_path(donator) %> </td>
        <td> | <%= link_to 'Destroy', admin_donator_path(donator), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donator', new_admin_donator_path %>
