<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_donator.name %>
</p>

<p>
  <strong>Pledge:</strong>
  <%= @admin_donator.pledge %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_donator.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_donator.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @admin_donator.message %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @admin_donator.anonymous %>
</p>

<%= link_to 'Edit', edit_admin_donator_path(@admin_donator) %> |
<%= link_to 'Back', admin_donators_path %>
