= simple_form_for @donor do |f|
  .row
    .col-md-6
      .form-group= f.input :name, :placeholder => "Name", :label => false,input_html: {class: "form-control"}
    .col-md-6
      .form-group= f.input :pledge, :placeholder => "Pledge (USD)", :label => false, hint: 'Just pledge!',input_html: {class: "form-control"}
  .row
    .col-md-6
      .form-group= f.input :email, as: :email, :placeholder => "Email", :label => false,input_html: {class: "form-control"}
    .col-md-6
      .form-group= f.input :phone, :placeholder => "Phone number ex: 050-555-555", :label => false,input_html: {class: "form-control"}
  .row
    .col-md-12
      .form-group= f.input :message, as: "text", :placeholder => "Say something...", :label => false, input_html: {class: "form-control"}
  .row
    .col-md-6
      .form-group
        = f.input :anonymous, inline_label: "Show anonymous, click here", as: :boolean, :input_html => {:class => "padding-l-20"}
  .row
    .col-md-6.text-center
      .form-group= f.button :submit, "Pledge direct", class: "btn-min-width btn btn-success btn-lg", input_html: {class: "form-control"}, name: "direct"
    .col-md-6.text-center
      .form-group= f.button :submit, "Contact me to collect", class: "btn-min-width btn btn-success btn-lg", input_html: {class: "form-control"}, name: "contact"

= flash[:notice]

- if params[:pledge_direct].present?
  :javascript
    $(document).ready( function() {
      window.open('https://secure.causevox.com/pay?url=http://donate.pepycambodia.org', '_blank', 'toolbar=no,location=no,status=no,menubar=no,width=750px,height=650px');
    } );
