%h2 The Cause

%h3 PEPY
.row20
  %p PEPY is a Cambodian based educational and youth empowerment NGO that focuses on investing in and connecting the young people of the Kralanh District to the educational opportunities and the skills needed to attain their dream jobs. Impacting positively on their own lives, the lives of their families, and the lives of the community in Kralanh.

.row20
  %p PEPY’s vision is a future where all young Cambodians are empowered to achieve their dreams and their mission is to invest time and resources in young people in Cambodia, working with them to connect them to the skills, systems, and inspiration necessary to achieve their goals, raise standards of living, and improve the quality of education in their communities.


%h3 Education in Cambodia
.row20
  %p Most of the families in the Kralanh District of Cambodia depend on agriculture in order to support themselves. They are especially dependant on rice farming, which is very reliant on the right weather conditions and as such can be an unreliable form of income depending on the yield of the season. Additionally most of the people in this community do not have good educational opportunities and as such are only able to work in unskilled labour. As there are many people and a low number of jobs in this area people find it difficult to find other work and this leads to many people, as young as 13 years old, illegally migrating to Thailand in order to support their family. In order to assist this community to solve this problem, PEPY had designed some projects to support young people in this area in order to connect them to a brighter future through education, soft skills and by linking them to more opportunities.

%h3 Project rational
.row20
  %p PEPY discovered that in a study by the ILO 87% of employers in the region believed graduates did not meet the demand for skills that the job market required. Research from the Ministry of Education, Youth and Sport also showed that Siem Reap Province, where Kralanh District resides, has a higher dropout rate from school than the other provinces in the region, sitting at 23.5% with Kralanh having extremely high rates of poverty.

.row20
  %p There were very limited scholarship opportunities given to poor families and this was a large reason for students dropping out of school. Students in this region also lack self motivation and families struggled to commit to education or fully understand the benefits in the long term. From PEPY’s consultations with students, parents and teachers in the community we discovered that many also seemed to be rooted in old social beliefs and as such struggled to believe that breaking the cycle of poverty was possible.

.row20
  %p PEPY wanted to work with this community to establish further opportunities, motivate students and help the community to reach for new employment opportunities and a brighter future.

%h3 Scholarship Program
.row20
  %p In 2012 PEPY began offering a Scholarship program in the Kralanh District. We began by working with two Scholarship students in order to support them through their further education. In 2013 PEPY took on a further 20 students and in 2014 we hope to work with a further 20 students. Students are supported with school fees, a living allowance, a bicycle, health insurance and study materials. Each of the students also has access to the Learning Center and one on one support. The Learning Center provides students with a place to gain extra-curricular support. Classes offered include English, ICT, and Youth Empowerment. Youth Empowerment classes help students to improve their confidence, presentation skills, and problem solving skills. Support is also given from the Learning Center for skills such as interview technique and CV writing. PEPY believes that the holistic approach of providing education along with support in gaining soft skills to complement formal qualifications combined with financial support to cover the costs of education creates the ideal learning environment to allow the students PEPY works with to succeed.

.row20
  %p The cost of study materials for one student is around $40, with school fees costing $500 per student. The costs of funding a scholarship student for their full education is $4,600 and the cost of the program as a whole is around $110,000. Even $10 can go a long way to supporting these programs.

%h3 Success Story’s from Scholarship Program
.row20
  %p The Scholarship Program is relatively new with 2 students going into their third year and 19 students going into their second year, 20 more students will be taken on for the academic year 2014 -2015. The purpose of the program is to connect young people to skilled employment after they graduate. The first opportunity students will have to graduate is not until later in the program, however our students are already showing great success… Watch the video <a target="_blank" href="https://www.youtube.com/watch?v=IkWLIfb1PmI&feature=youtu.be">https://www.youtube.com/watch?v=IkWLIfb1PmI&feature=youtu.be</a>
%h3 Case Study 1
.row20
  %p One of our students, Vy, has just finished his second year of the Scholarship Program. He has found himself a job in order to further support his studies and his family with a big NGO called PSE. He has a good income and his Manager has reported that he is very pleased with Vy’s performance. His Manager really values his passion to learn and do new things. She finds Vy to be very confident and a good leader in his team. Vy’s parents have been very inspirational for him, and they are also very proud of his achievements and are very excited to see him in a good role. In turn, this has had a very big impact to his community in Chanleas Dai.

%h3 Case Study 2
.row20
  %p On 8 August 2014 the current Scholarship students organized a parents meeting at the Chanleas Dias Junior High School. In attendance were 25 of the student’s parents and members of the community. The students presented different topics about their studies and time in Siem Reap. The parents were really pleased to hear these presentations and were delighted with the work PEPY has been engaged in with the community. One of the student’s fathers said“Thank you PEPY very much for educate my kid very well, I think what PEPY did is care my child more than I did. Why I said this because my kid, Sitham, he never bow me but after 3 months he had been joined with PEPY program he bow me when I gave him money or when he back to SR. He suggested all the children please study hard more to get a good job not like us”. The students also had a message for their parents, which was “Please, father and mother don’t worry about us, especially about job because in Cambodia have a lot of job for us to do and we will study hard to get job so please be happy and give us power by your smile”. Both the students and parents were very moved by the speeches and enjoyed the presentations greatly. Through interactions such as these and positive comments from the community it is clear to see the improvements in confidence that the students are gaining and PEPY has been really proud to be a part of this.

%h3 Resources
.row20
  %p Here are some links / videos and presentations you may want to share also.

.row20
  %p= link_to "http://www.slideshare.net/pepycambodia/scholarship-sponsorship-2014-32648879", "http://www.slideshare.net/pepycambodia/scholarship-sponsorship-2014-32648879"
  %p= link_to "https://www.facebook.com/video.php?v=10152783787927970&set=vb.16125452969&type=2&theater", "https://www.facebook.com/video.php?v=10152783787927970&set=vb.16125452969&type=2&theater"
  %p= link_to "https://www.youtube.com/watch?v=s1o8mM4RI9k&list=UUCJ1VQQQiDF07XuXAqgqB6g&index=9", "https://www.youtube.com/watch?v=s1o8mM4RI9k&list=UUCJ1VQQQiDF07XuXAqgqB6g&index=9"
  %p= link_to "http://pepycambodia.org/our-programs/education/dream-classes", "http://pepycambodia.org/our-programs/education/dream-classes"
  %p= link_to "http://pepycambodia.org/our-programs/education/learning-center", "http://pepycambodia.org/our-programs/education/learning-center"
  %p= link_to "http://pepycambodia.org/our-programs/education/scholarship", "http://pepycambodia.org/our-programs/education/scholarship"
