!!!
%html
  %head
    %title Pledgeapp
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Doppio+One'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "layouts/header"
    = render "layouts/content"
    = render "layouts/footer"
